2017-project/tice-v-area.pdf
2017-project/test.R
git-old/
*.Rdata
*.e00
*.adf
*.dat
2017-project/avc_data/19690117/info/arc0000.nit
2017-project/avc_data/
2017-project/.Rproj.user/
2017-project/archive_R/
2017-project/map/
*.rds
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.adf
*.xlsx
*.csv
*.ppt
*.pptx
*.png
*.html
*.pdf
*.txt
2017-project/archive/ggplot-alt-fig.R
2017-project/archive/
*.qgs
*.qgs~
*.Rhistory
*.Rproj
2017-project/ice-chart-processing-data-v3-II.R
*.shx
*.shp
*.qpj
*.prj
*.dbf
2017-project/ice-capelin-functions.R
2017-project/bolker_CH7_5_CI.R
.Rproj.user
*.doc
*.docx
*.sas
*.jpeg
*.jpg
2017-project/manuscript/
2017-project/.gitignore
2017-project/presentation/RAP_2018_files/
ice-capelin-jags_knock_out_a.R